.display-4 {
  font-size: 1.75rem!important;
  color: #212121;
}

h1 {
  font-size: 1.5rem!important;
  color: #212121;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  font-size: 1.2rem!important;
  color: #424242;
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  font-size: 1rem!important;
  color: #424242;
  font-weight: 600 !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

h4 {
  font-size: 1rem!important;
  color: #424242;
  padding-top: 5px;
  padding-bottom: 5px;
}

p {
  color: #616161;
  text-align: justify;
}

p img {
  text-align: center;
  max-width: 100%;
  height: auto;
}

ul li {
  color: #616161;
}

a:hover {
  text-decoration: none !important;
}