
#footer {
  width: 100%;
  min-width: 300px;
  padding: 5px;
}

.footer-nav-link {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-align: center
}

.footer-nav-link:hover {
  color: #fff;
}

.footer-bg {
  background-color: #000;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.footer-separator {
  display: inline;
  color: rgba(255,255,255,0.8)
}
