
#header {
  min-width: 300px;
}

.header-nav-active {
  color: #d0d0d0 !important;
}

.header-navbar-brand {
  padding: 0 !important;
  margin: 0 !important;
}

.header-nav-link {
  font-size: 0.8rem;
  color: #fff;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.header-nav-link:hover {
  color: #f0f0f0;
}

.header-bg {
  background-color: #000;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
