
<div class="sidebar-wrapper">
  <div class="collapse" id="sidebar">
    <div class="sidebar pull-right">
      <div class="d-none d-md-block">
        <ul class="nav flex-column">
          {% for link in site.data.navigation.main %}
            <li class="nav-item">
              <a class="nav-link sidebar-nav-link{% if page.url == link.url %} sidebar-nav-active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="d-md-none">
        <div class="row">
          <div class="col-sm-6">
            <ul class="nav flex-column d-md-none">
              {% for link in site.data.navigation.highlight %}
                <li class="nav-item">
                  <a class="nav-link sidebar-nav-link{% if page.url == link.url %} sidebar-nav-active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
              <li class="nav-item">
                <a class="nav-link sidebar-nav-more sidebar-nav-link" style="cursor: pointer" data-toggle="collapse" data-target="#sidebarDropdown" aria-expanded="false" aria-controls="sidebarDropdown" onclick="$('#moreCaret').toggleClass('fa-caret-right');$('#moreCaret').toggleClass('fa-caret-down');">More <i class="fa fa-caret-right" style="width: 20px;" id="moreCaret" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="nav flex-column d-md-none">
              <div class="collapse" id="sidebarDropdown">
                <div class="d-sm-none">
                  <hr/>
                </div>
                {% for link in site.data.navigation.main %}
                  <li class="nav-item">
                    <a class="nav-link sidebar-nav-link{% if page.url == link.url %} sidebar-nav-active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </div>
            </ul>
          </div>
        </div>
        <hr/>
        <address>
          <div class="row text-center">
            <div class="col-1"></div>
            <div class="col-8">
              <div>
                <a class="sidebar-nav-link" href="tel:+34954460446">
                  +34 954 460 446
                </a>
              </div> 
              <div>support@ingelectus.com</div>
            </div>
            <div class="col-2">
              <a class="sidebar-nav-link" target="_blank" href="https://www.google.es/maps/place/Ingelectus+Innovative+Electrical+Solutions+S.L./">
                <i class="fa fa-map-marker fa-3x"></i>
              </a>
            </div>
            <div class="col-1"></div>
          </div>
        </address>
      </div>
    </div>
  </div>
</div>
